body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: aqua;
    font-size: larger;
}
p{
    color: brown;
    font-weight: 300;
    font-size: 22px;
    border-radius: 2px;
}
div{
    color: cadetblue;
    text-shadow: darkblue;
    font-size: 30px;
}
.divTest{
    color: black;
    font-size: 22px;
}